
section {
	margin-left: auto;
	margin-right:auto;
	width: 95%;
}

#header{
	margin-top: 20px;
	border-bottom: solid 2px darkgray;
	overflow: hidden;
	text-align: center;
}

#header div{
	display: inline-block;
	height: 100px;
}

#logo-div{
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	margin-bottom: 20px;
}

#cartmodalicon{
	display: inline-block;
}


#header input[type="submit"]{
	vertical-align: top;
	height: 50px;
	width: 15%;
	text-align: center;
	border:none;
	margin: 0;
	color: white;
	background-color: #2a7570;
}

.offer-btn{ 
	background-color: #2a7570;
	height: 100px;
	margin: 10px 0;
	text-align: left;
	padding: 10px;
}

#buttons .col-sm-4:nth-child(2) .offer-btn{
	margin: 10px;
}

#buttons div.col-sm-4{
	padding: 0;
}

#buttons {
	text-align: left;
	color: white;
	font-size: 1em;
}

#slider{
	text-align: center;
}

.carousel-inner img{
	margin: auto;
}

.carousel-inner{
	background-color: darkgray; 
}

.glyphicon.glyphicon-heart-empty {
    font-size: 30px;
    color:#777777;
}

.glyphicon.glyphicon-shopping-cart {
    font-size: 30px;
    color: #777777;
}

.cat{ 
	margin: 10px 0;
	width: 100%;
	text-align: left;
}

.cat img{
	float: left;
	width: 50%;
}

.cat h2{
	display: inline-block;
	text-align: left;
	margin-left: 20px;
	margin-top: 10px;	
	font-size: 1.5em;
	color: gray;
}

.cat h3{
	display: inline-block;
	width: 45%;
	text-align: left;
	margin-left: 20px;
	font-size: 1.3em;
	color: darkgray;
}
#cat .col-sm-4:nth-child(2) .cat{
	margin: 10px;
}
#cat div.col-sm-4{
	padding: 0;
}

#cards{
	float: right;
	height: 75px !important;
	margin-top: 35px;
}

#cards a{
	display: inline-block;
	text-align: center;
	text-decoration: none !important;
	color: gray;
	margin-left: 10px;
	width: 50px;
	height: 80px;
}

#cards a:hover{
	color:black;
	cursor: pointer;
	text-decoration: none;
}

#cards a span{
	width: 100%;
	transition: all, 1s;
}

#cards a:hover span{
	color: black;
}

.modal-header, h4, .close {
      background-color: #317470;
      color:white !important;
      text-align: center;
      font-size: 30px;
}

.modal-footer {
	background-color: #f9f9f9;
}
.hider{
	overflow: hidden;
	position: relative;
	display: block !important;
	padding: 0 !important;
	width: 90vw !important;
	margin: 10px auto 	 !important;
	min-height: 365px !important;
}

.slider-wrapper{
	position: absolute;
}

.slider-item{
	display: inline-block;
	width: 13vw;
	margin: 1vh 2vw 1vh 0;
	vertical-align: top;
}

.slider-item img{
	width: 100%;
	height: 250px;
}

.slider-item p{
	text-align: center;
}

.slider-item h4{
	background-color: white !important;
	color:gray !important;
}

.slide-left,.slide-right{
	cursor: pointer;
    background: #317470;
    border-radius: 100px;
    padding: 4px;
    margin: 70px 10px 0;
    color: white;
}

#signupmodalicon,#loginmodalicon{
	display: inline-block;
	cursor: pointer;
    margin: 15px 5px;
}

.navbar-right li a{
	color:gray;
}

#year-filter{
	display: inline-block;
	height: 30px;
	width: 50%;
	margin: 10px 0 0 0;
}

#year-filter .year{
	height: 35px;
	line-height: 35px;
	width: 30%;
	display: inline-block;
}

#signupmodalicon a:hover{
	color:black;
	cursor: pointer;
	text-decoration: none;
	transition: all, 1s;
}

#loginmodalicon a:hover{
	color:black;
	cursor: pointer;
	text-decoration: none;
	transition: all, 1s;
}

#footer{
	border-top: solid 2px darkgray;
	background-color: #317470;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: left;
}

#guar-div{
	width: 100%;
}

#guar-div img{
	width: 90%;
	margin: 0 5%;
}

#price {
	text-align: center;
	vertical-align: middle;
	color: brown;
}

@media screen and (max-width: 1000px){
	.slider-item{
		width: 22vw;
		margin: 1vh 8vw 1vh 0;
	}

	.slider-item img{
		height: 260px;
	}
}
#content h3 {

	background-color: none;

}
